@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  padding: 0;
  margin: 0;
  color: #3a3a3a;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  vertical-align: center;
  text-align: center;
}

html,
body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

/* nav bar */

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: whitesmoke;
  color: #45677b;
  height: 50px;
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.top-nav span {
  margin-left: 8px;
  font-size: 24px;
}

.top-nav a:hover {
  color: #da48a4;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 99;
}

.menu>li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #45677b;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu li {
    border: 1px solid #45677b;
    height: 3em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu>li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #45677b;
    font-weight: 600;
    background-color: whitesmoke;
  }

  .menu>li a:hover {
    color: #da48a4;
  }

  .menu>li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

/* hero image */

.hero {
  position: relative;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background: url(../images/blue-courts-nets.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}

.hero-content {
  position: relative;
}

.hero-content {
  position: relative;
  font-family: "Raleway", sans-serif;
  color: whitesmoke;
  text-align: center;
  margin: 0.75rem;
}

.hero-title {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 0;
}

.hero-subtitle {
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.hero-button {
  background-color: #da48a4;
  color: whitesmoke;
  border: 2px solid #e788c4;
  margin-top: 5rem;
  padding: 1rem 1.875rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #cb376a;
  border: 2px solid #e788c4;
}

/* about us section */

#about-us {
  width: 100%;
  min-height: 100vh;
  padding-top: 80px;
}


#about-us p {
  margin: 1.25rem;
  color: #3a3a3a;
  max-width: 100%;
  font-size: 1.1em;
}

@media only screen and (min-width: 768px) {
  #about-us p {
    font-size: 1.3em;
    line-height: 1.3em;
    
  }
}

/* photo styling */

@media only screen and (max-width: 768px) {
  .photo-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .photo-container img {
    padding-bottom: 0px;
  }
}

@media only screen and (min-width: 768px) {
  #about-us-content {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  #about-us-text {
    max-width: 50vw;
  }
}

/* schedule section */

#schedule-and-prices {
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

#schedule-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


#schedule-table {
  border-collapse: collapse;
  margin: 20px;
  font-size: 0.9em;
  width: 90%;
  min-width: 300px;
  max-width: 700px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#schedule-table th,
#schedule-table td {
  padding: 12px 5px;
}

#schedule-table thead tr {
  background-color: #da48a4;
  color: whitesmoke;
  text-align: left;
}

#schedule-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

#schedule-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

#schedule-table tbody tr:last-of-type {
  border-bottom: 2px solid #da48a4;
}

/* latest news section */

#latest-news {
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

#latest-news p {
  margin: 1.25rem;
  color: #3a3a3a;
}

#latest-news ul {
    list-style: none;
}

#latest-news ul li {
    margin: 0;
    padding: 5px 30px 20px 25px;
    list-style: none;
    background-image: url("/assets/images/icon-tennis-ball.png");
    background-repeat: no-repeat;
    background-position: left, center;
    background-position: 0% 36%;
    background-size: 10px;
  }
    


/* footer */

footer {
  height: 150px;
}

footer ul {
  list-style: none;
  text-align: center;
  display: flex;
  padding: 25px;
  justify-content: center;
  justify-content: space-around;

}

footer ul i {
  font-size: 160%;
  margin: 10px;
  padding: 10px;
  color: #45677b;
}

footer ul i:hover {
  color: #da48a4;
}


/* styling for form */

.form-page {
  background-color: #45677b;
}

#form-container {
  height: 108%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title-Tag-Line {
  font-size: 20px;
}

.form {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  max-width: 480px;
  min-width: 320px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding: 10px;
  border-top: 5px solid #da48a4;
}

.form p {
  text-align: center;
  font-size: 0.75rem;
}

#level-radio {
  margin-left: 32%;
}

.title {
  display: block;
  font-family: "Raleway", sans-serif;
  margin: 10px 20px 5px;
  width: 275px;
}

.pageTitle {
  font-size: 2em;
  font-weight: bold;
}

.secondaryTitle {
  color: #3a3a3a;
}

.name {
  background-color: #ebebeb;
  color: #3a3a3a;
}

.name:hover {
  border-bottom: 5px solid #da48a4;
  transition: ease 0.1s;
}

.email {
  background-color: #ebebeb;
}

.email:hover {
  border-bottom: 5px solid #da48a4;
  transition: ease 0.1s;
}

.tel {
  background-color: #ebebeb;
  color: #3a3a3a;
}

.tel:hover {
  border-bottom: 5px solid #da48a4;
  transition: ease 0.1s;
}

#birthdate-container {
  padding-top: 3px;
}

.birthdate {
  background-color: #ebebeb;
  color: #3a3a3a;
}

.birthdate:hover {
  border-bottom: 5px solid #da48a4;
  transition: ease 0.1s;
}

#radio-container {
  padding-top: 3px;
}

.formEntry {
  display: block;
  margin: 10px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 2px;
  border: none;
}

#submit-container {
  padding-top: 20px;
}

.submit {
  width: 200px;
  color: white;
  background-color: #da48a4;
  font-size: 20px;
}

.submit:hover {
  background-color: #cb376a;

}

/* styling for gallery */

